<a href="https://colab.research.google.com/github/miladziekanowska/Python_learning/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.4.4'

In [3]:
None, np.nan

(None, nan)

In [4]:
s = pd.Series([1, 2, 3, np. nan, 6, 9])
s
# np.nan to jakby float

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [5]:
type(s)

pandas.core.series.Series

In [16]:
dates = pd.date_range(20130101, periods=6)
dates

DatetimeIndex(['1970-01-01 00:00:00.020130101',
               '1970-01-02 00:00:00.020130101',
               '1970-01-03 00:00:00.020130101',
               '1970-01-04 00:00:00.020130101',
               '1970-01-05 00:00:00.020130101',
               '1970-01-06 00:00:00.020130101'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame({'A' : [1, 2, 3],
                   'B' : [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [12]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df = pd.DataFrame(np.random.randn(6,4),
                  index=dates,
                  columns=list('ABCD'))
df

                                      A         B         C         D
1970-01-01 00:00:00.020130101 -0.028877 -1.090023 -0.200789 -0.836647
1970-01-02 00:00:00.020130101  0.578532  0.899946  1.577708  0.382167
1970-01-03 00:00:00.020130101  0.296683 -1.717544 -0.060062  0.697352
1970-01-04 00:00:00.020130101 -0.745141 -0.268142  0.034088 -0.892795
1970-01-05 00:00:00.020130101 -0.279910  0.802191  0.073893  0.912518
1970-01-06 00:00:00.020130101  0.753065  0.983455 -0.048609 -0.054620

In [20]:
df2 = pd.DataFrame({
                    'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo',
                    'G' : [False, True,True,False]
                   })
df2

     A          B    C  D      E    F      G
0  1.0 2013-01-02  1.0  3   test  foo  False
1  1.0 2013-01-02  1.0  3  train  foo   True
2  1.0 2013-01-02  1.0  3   test  foo   True
3  1.0 2013-01-02  1.0  3  train  foo  False

In [21]:
type(pd.Timestamp('20130102'))

pandas._libs.tslibs.timestamps.Timestamp

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[ns]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
 6   G       4 non-null      bool
dtypes: bool(1), category(1), datetime64[ns](1), float32(1), float64(1), int32(1), object(1)
memory usage: 292.0+ bytes

In [25]:
dane_sprzedaz_df = pd.read_csv('data/dane_sprzedaz.csv', sep=',', encoding='utf-8')
dane_sprzedaz_df

FileNotFoundError: ignored